/*Globals*/

html{
    font-family: 'Open Sans', sans-serif;
    
}

a{
    text-decoration: none;
}

@font-face{
    font-family:themillion;
    src: url("../img/fuente1.ttf");
}
p{
    line-height: 1.5;

}

/*HEADER*/

nav{
    display: flex;
    background: rgb(0,0,0);
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: fixed;
    top:0;
    width: 100%;
    z-index:+1;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li {
    margin: 0;
    padding: 0px 0px;
}

nav ul li a{
    margin: 0;
    color: #ffffff;
    padding: 26px 20px;
}

li>a:hover{
    background-color:rgba(0,112,255,1);
}

.logo{
    margin-left:40px ;
}
.logo img{
    width: 210px;
}

.container{
    max-width: 80%;
    background-color: #ffffff;
    margin: 0 auto;

}

@media (max-width: 800px){
    nav{
        position: relative;
        display: block;
        flex-direction: column;
        align-items: center;
        height: 205px;

    }
    nav ul{
        display: inline;
        justify-content: center;
        text-align: center;
    }
    nav ul li{
        padding: 15px 0;
        border-top: grey 1px solid;
    }
    nav ul li:first-of-type{
        border: none;
        margin-top: -13px;
    }
    nav ul li a{
        padding: 8px 10px;
        margin: 0 auto;
    }
    a:hover{
        background: none;
    }
    li{
        padding: 0;
    }
    .logo img {
        display: none;
    }

}

/*Footer*/
footer{
    width: 100%;
    background-color: #F6F8F9;
    color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-evenly;
    padding:15px 0 ;
}

.section{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.section img{

    width: 32px;
    margin-right: 20px;
}

.about{
    width: 400px;
}
.about p{
    text-align: justify;
}
.iconos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.facebook:hover{
    background-image: url("../img/facebook_color.png");
}
.twitter:hover{
    background-image: url("../img/twitter_color.png");
}
.github:hover{
    background-image: url("../img/github_color.png");
}
.buit{
    height: 800px;
}
@media (max-width: 800px){
    .about,
    .section{
        margin: 0 20px;
    }
}
/*Contingut principal*/

.titol{
    font-family:themillion;
    color:black;
    font-size:50px;
    letter-spacing:2px;
    margin: 0;
    background-color:transparent;

}
.ps4>.titol{
    margin-top: 85px;
}
.apartat{
    display: flex;
    margin-top: 5%;
    align-items: center;
    text-align: justify;
}

.apartat img{
    width: 50%;
    margin-right: 40px;
}



.background{
    text-align: center;
    background-image: url("../img/juegos2.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter{
    padding-top: 100px;
}
.background h2{
    margin:0px;
    padding-top: 40px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.button{
    display: inline-block;
    background-color: white;
    margin-top: 20px;
    color: #000000;
    padding: 20px 50px;
    border-radius: 5%;
}
.button:hover{
    background-color: white;
}
.promocio{
    width:100%;
    margin-top:73px;
    min-height:73%;
}
.psnPLUS{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 70px;
    background:rgba(0, 0, 0, 0.80) ;
    color: white;
    z-index: -70px;
    width: 100%;
}
.psnPLUS>p{
margin-left: 40px;
}
.psnPLUS>a{
    color: black;
    font-weight: 700;
    margin-right: 40px;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #FFD700;
}

.psnPLUS>a:hover{
background-color: #003087;
color: white;
}

.top{
    display:flex;
    flex-direction: column;
}

@media (max-width: 800px){
    .promocio{
        margin-top: 0;
    }
    .top{
        margin-top: 0;
    }
    .button_psn{
        text-align: center;
    }
    .apartat {
        display: inline;
    }
    .apartat img{
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
    }
    .text-info{
        margin-top: 50px;
    }


}



/*Specs*/
.banner-et{
    background-size:100%;
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 60px;
}

.banner-et h1.titol{
    width:500px;
    margin-top:25%;
    margin-left:10%;
    padding:15px 2%;
    background:rgba(255, 255, 255, 0.5) ;
    position:absolute;
    text-align: center;
}


table{
    display:table;
    border:1px;
    border-collapse: separate;
    border-spacing: 2px;
}
table tr:nth-child(even) {
    background-color: #f5f5f5;
  }
table tr:nth-child(odd) {
   background-color:#eee;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td{
    text-align:left;
    border: 0;
    padding: 15px 18px;
    vertical-align: middle;
}
.taula{
    margin:60px auto;
    display: block;
    width: 970px;
}
@media (max-width: 800px){
    .taula{
        width: 100%;
        margin: 0 auto 20px;
    }
}

/*HISTORIA*/
.banner-top{
    background-size:100%;
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 60px;
}

.banner-top h1.titol{
    width:200px;
    margin-top:25%;
    margin-left:10%;
    padding:15px 2%;
    background:rgba(255, 255, 255, 0.5) ;
    position:absolute;
    text-align: center;
}


.descripcio{
    display: flex;
    align-items: center;
}
.descripcio img{
    width: 35%;
    margin: 20px 30px 0px 0;
}

.descripcio p{
    color: #525555;
    text-align: justify;
    margin-bottom: 0;
}
.historia{
    margin-bottom: 100px;
    border-top: solid 1px grey;
}

.historia:first-of-type{
    border-style: none;
}
.button-blue{
    padding: 20px 50px;
    margin-top: 20px;
    background-color: #003087;
    border-radius: 0;
    color: white;
    text-align: center;
    float: right;
}

@media (max-width: 800px){
    .banner-top h1.titol,
    .banner-et h1.titol{
        margin: 0 0 -40px 0 ;

        display: block;
        background: none;
        position: relative;
    }
    .banner-top img,
    .banner-et img{
        display: none;
    }
    .descripcio{
        display: inline-block;
        margin-bottom: 20px;
    }
    .descripcio img{
        width: 100%;
    }
    .button-blue{
        padding: 20px;
        background-color: #003087;
        color: white;
        position: relative;
        float: none;
        overflow: hidden;
        display: block;
        margin: 0px auto -75px auto;
        text-align: center;
    }
    .button-blue:hover{
        background-color:#003087 ;
    }
}

/*JOCS*/

.container-jocs {

    max-width: 500px;
    position: relative;
    margin: auto;
    margin-top:7%;
}

.jocs{
    box-sizing: border-box;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 700;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slots{
    text-align:center;
    margin-bottom: 7%;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (max-width: 800px) {
    .container-jocs{
        width: 90%;
    }
}